<div class="py-4">
	<h1>Admin Panel</h1>

	<form action="/admin" method="POST" class="rounded-2 py-5 px-5 my-5 w-75 mx-auto" style="background-color: #fcf8ee; color: #679e9b;">
		<div class="form-row row d-flex align-items-center justify-content-center">
			<div class="col-md-6">
				<label class="ms-1" for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="enter your username">
			</div>
			<div class="col-md-6">
				<label class="ms-1" for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="enter your password">
			</div>
		</div>
		<button type="submit" class="btn btn-warning mt-3">Login</button>
	</form>
</div>