<header class="p-2 rounded-2" style="background-color: #679e9b;">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
				<img class="me-2" width="60" height="60" src="/images/logo.webp" alt="">
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 text-white">Home</a></li>
				<li><a href="/products" class="nav-link px-2 text-white">Products</a></li>
				<li><a href="/farmers" class="nav-link px-2 text-white">Farmers</a></li>
				<li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
				<li><a href="#" class="nav-link px-2 text-white">About</a></li>
			</ul>

			<form method="POST" action="/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
				<input type="search" name="searchItem" class="form-control" placeholder="Search Farmer..." aria-label="Search">
			</form>

			<div class="text-end">
				<a href="/admin"><button type="button" class="btn btn-outline-light me-2">Log In</button></a>
			</div>
		</div>
	</div>
</header>